@model ztbiyesheji.Models.GoodsClassification
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/xadmin.css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/xadmin.js"></script>
    <script src="~/js/cookie.js"></script>
    <script src="~/lib/layui/layui.js"></script>
</head>
<body>
    <div class="x-body">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>上级分类</label>
            <input type="hidden" id="GoodsCommoditiesCode" value="@Model.GoodsCommoditiesCode" />
            <div class="layui-input-inline" style="width:200px;">
                <input value=" @ViewBag.Name" disabled class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>品牌名称</label>
            <div class="layui-input-inline" style="width:200px;">
                <input value=" @Model.GoodsClassificationName"  class="layui-input" id="GoodsClassificationName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>商品品牌图片
            </label>
            <div class="layui-input-inline">
                <input type="text" id="GoodsClassificationImageUrl" class="layui-input" value=" @Model.GoodsClassificationImageUrl">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>商品详细信息轮播图片效果展示
            </label>
            <div class="layui-input-inline">
                <img src="@Model.GoodsClassificationImageUrl" id="img-GoodsClassificationImageUrl">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" onclick="CheckGoodsInfos('@Model.GoodsClassificationCode');" href="javascript:;">
                修改
            </button>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $("#GoodsClassificationImageUrl").bind('input propertychange', function () {
        var GoodsClassificationImageUrl = $("#GoodsClassificationImageUrl").val();
        $("#img-GoodsClassificationImageUrl").attr("src", GoodsClassificationImageUrl);
    });
    function CheckGoodsInfos(code) {
        var GoodsCommoditiesCode = $("#GoodsCommoditiesCode").val();
        var GoodsClassificationName = $("#GoodsClassificationName").val();
        var GoodsClassificationImageUrl = $("#GoodsClassificationImageUrl").val();
        $.ajax({
            type: 'POST',
            data: {
                GoodsCommoditiesCode: GoodsCommoditiesCode,
                GoodsClassificationName: GoodsClassificationName,
                GoodsClassificationImageUrl: GoodsClassificationImageUrl,
                Code: code
            },
            dataType: 'json',
            url: "/Goods/CheckGoodsClassification",
            success: function (data) {
                if (data == 404) {
                    layer.msg('修改失败!请输入商品品牌图片/商品品牌名称/修改信息编码/上级分类信息!', { icon: 2, time: 2000 })
                }
                if (data == 500) {
                    layer.msg('修改失败!请联系管理员', { icon: 2, time: 2000 })
                }
                if (data == 201) {
                    layer.msg('修改失败!存在相同数据', { icon: 2, time: 2000 })
                }
                if (data == 200) {
                    layer.msg('修改成功!', { icon: 1, time: 2000 }, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        // 可以对父窗口进行刷新
                        x_admin_father_reload();
                    })
                }
            },
        });
    }
</script>